.rc-select-selection{
  border-radius: 0 !important;
  background-color: #394264 !important;
  border: 1px solid #282e4a !important;
  color: #d93363;
  font-size: 0.8rem;
}
.rc-select-selection__choice__content {
  font-size: 0.6rem;
}

.rc-select-dropdown{
  background-color: #282e4a;
  box-shadow: none;
  border: none;
}
